body{
    background-color:lightgray
    ;
}
.div1{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
   background-color:aliceblue;
    padding-right: 20px;
}
 .h1{
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
 
.img{
    height: 50px;
    width: 50px;
    padding-top: 25px;
}
.nav{
    height: 30px;
    background-color: black;
   
    text-align: center;
    padding-top: 10px;

}
.a{
    margin-left: 25px;
    color: white;
   
}
.div2{
    height: 400px;
    width: 75%;
    display: flex;
    border:1px solid;
    background-color: white;
   margin-left:10%; 
   margin-right: 10%; 
}
.button1 {
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: black;
        color: white;
     
      }
.button2{
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
        color: black;

      }
      